.transaction-form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Расстояние между секциями */
}

.form-grid {
    display: grid;
    grid-template-columns: 150px 1fr; /* Две колонки: первая для лейблов, вторая для инпутов */
    gap: 10px 20px; /* Расстояние между строками и колонками */
    align-items: center;
}

.transaction-label {
    font-weight: bold;
    text-align: right; /* Лейблы выравниваются по правому краю */
}

input,
select,
textarea {
    padding: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
