.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.transaction-table th, .transaction-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.transaction-table th:nth-child(1),
.transaction-table td:nth-child(1) {
    width: 120px;
}

.transaction-table th:nth-child(2),
.transaction-table td:nth-child(2) {
    width: 100px;
}

.transaction-table th:nth-child(3),
.transaction-table td:nth-child(3) {
    width: 130px;
}

.transaction-table th:nth-child(4),
.transaction-table td:nth-child(4) {
    width: 130px;
}

.transaction-table th:nth-child(5),
.transaction-table td:nth-child(5) {
    width: 150px;
}

.transaction-table td:nth-child(5) {
    text-align: right;
}
.transaction-table th {
    background-color: #f2f2f2;
    cursor: pointer;
}

.transaction-table th:hover {
    background-color: #ddd;
}
.transaction-table td button {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-new-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.add-new-button:hover {
    background-color: lightskyblue;
}
.total-income-header {
    padding: 14px;            /* Отступы внутри элемента */
    margin-top: 28px;        /* Отступ сверху */
    background-color: #f5f5f5; /* Цвет фона */
    border-radius: 8px;      /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Эффект тени */
    font-size: 24px;         /* Размер шрифта */
    text-align: center;      /* Выравнивание текста по центру */
}
.date-picker {
    display: flex;
    align-items: center;
    gap: 10px; /* Расстояние между элементами */
    margin-top: 20px;
}

.date-picker label {
    margin-right: 5px;
}

.date-picker select {
    width: 80px; /* Ширина для полей */
    padding: 5px; /* Внутренние отступы для полей */
    font-size: 14px; /* Размер текста */
}
.actions-column {
    width: 150px; /* Установите необходимую ширину */
    text-align: center; /* Выровнять кнопки по центру */
}

.actions-column button {
    margin: 0 5px; /* Отступы между кнопками */
    padding: 5px 10px; /* Внутренние отступы для кнопок */
}
